body {
  min-width: 500px;
  overflow-x: hidden;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #666;
}

h1{
  font-size: 1.5em;
}

#main{
  padding: 1em 0em;
  margin: 1em 0em;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  min-height: 1em;
}

.loading{
  font-size: 0.8em;
  color: #AAA;
}

.track{
  cursor: pointer;
  padding: 0.5em 0em;
}

.track:hover{
  background-color: #EEE;
}

